html, body {
	margin:0;
	padding:0;
	background: #E7ECF2;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px;
	font-size: 1.3rem;
	line-height: 18px;
	color: #555;
	position: relative;
	-webkit-font-smoothing: antialiased; 
}
.race {
	float: left;
	margin: 3px 0 0 3px;
	border: solid 1px #C4CDE0;
	padding: 0 3px 3px 0;
	background-color: white;
}
.race-header {
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	padding: 5px 12px;
	background-color: #F1F1F1;
	color: #333;
	line-height: 1.28;
	margin: 3px 0 0 3px;
}
.photo {
	margin:0;
	width:100px;
	height:100px;
	margin:3px 0 0 3px;
	float:left;
	overflow:hidden;
	background-size:cover;
	background-position-x:center;
}
.photo a {
	display: block;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border:none;
	height:100px;
	position: relative;
}
.container {
	margin:0;
	padding:0;
}
.name {
	background: black;
	background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
	background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .7));
	bottom: 0;
	color: white;
	display: block;
	left: 0;
	padding: 5px 5px 3px;
	position: absolute;
	width: 90px;
	word-wrap: break-word;
	font-size: 11px;
	line-height: 13px;
	text-transform:capitalize;
}
.R .name {
	background: #731414;
	background: -webkit-linear-gradient(top, transparent, rgba(115, 20, 20, .9));
	background: -moz-linear-gradient(top, transparent, rgba(115, 20, 20, .9));
}
.DFL .name {
	background: #00314C;
	background: -webkit-linear-gradient(top, transparent, rgba(0, 49, 76, .9));
	background: -moz-linear-gradient(top, transparent, rgba(0, 49, 76, .9));
}
.IP .name {
	background: #f18e29;
	background: -webkit-linear-gradient(top, transparent, rgba(241, 142, 41, .9));
	background: -moz-linear-gradient(top, transparent, rgba(241, 142, 41, .9));
}
